#wrapper{
    text-align: center;
    margin-top: 3%;
}
div{
    margin: auto;
}
#container{
	width:480px;
	height:480px;
	border:5px solid black;
}
button{
	width:101px;
	height:26px;
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Arial';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
